 * {
    margin: 0;
    font-family: Arial;
    border: border-box;
    /* box-sizing: border-box; */
    /* align-items: center; */
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    /* overflow: hidden; */
    height: 70px;
    /* padding: 10px; */
    background-color: skyblue;
    color: white;
    justify-content: space-between;
    align-items: center;
    /* align-self: center; */
}


.nav-logo {
    /* position: absolute; */
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("EventEase.jpg");
    background-size: cover;
    height: 50px;
    width: 170%;
    margin-right: 10px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;

}

/* box 2 */
.nav-location {
    position: absolute;
    margin-right: 10px;

}

.add-first {
    color: white;
    font-size: 0.85rem;
    margin-left: 15px;

}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* Box 3 */
.nav-search {
    display: flex;
    background-color: black;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 10px;

}

